html {
  box-sizing: border-box;
}
body {
  background-color: $gray-1;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

main.main {
  padding-top: $navbar-height;
  min-height: calc(100vh - #{$footer-height});
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Text selection styles */
::-moz-selection {
  color: $light;
  background: $primary;
}

::selection {
  color: $light;
  background: $primary;
}

/* Scrollbar customizations */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray-1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-5;
  border: 1px solid darken($gray-5, 4);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gray-6;
  border: 1px solid darken($gray-6, 4);
}
