@mixin secondary-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


@mixin gray-border {
    border: 1px solid $gray-3;
    transition: border 100ms;
    &:hover,
    &:focus {
        border: 1px solid $gray-5;
        outline: none;
    }
}
@mixin primary-border {
    border: 1px solid $primary;
}

@mixin border($color, $hover-color) {
    
    border: 1px solid $color;
    &:hover,
    &:focus {
        border: 1px solid $hover-color;
    }
}
