@mixin hocus {
  &:hover,
  &:focus {
    @content;
  }
}
@mixin hocus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin hoctive {
  &:hover,
  &:active {
    @content;
  }
}

@mixin glow($color) {
  box-shadow: 0 2px pxToRem(16) rgba($color, 0.3);
  @include hocus {
    box-shadow: 0 2px pxToRem(20) rgba($color, 0.6);
  }
}


@mixin full-height {
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
}