$primary: #0984e3;

$light: #fff;
$gray-1: #f2f5f7;
$gray-2: #dde3e7;
$gray-3: #bec9d1;
$gray-4: #a4b0b9;
$gray-3: #bec9d1;
$gray-5: #89959e;
$gray-6: #5c6770;
$gray-7: #3b4349;
$gray-8: #293136;
$dark: #181d20;

$navbar-height: 80px;